{
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 120,
    "quoteProps": "as-needed",
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "vueIndentScriptAndStyle": false,
    "bracketSameLine": false
}
